body {
  color: white;
}

.progressBar {
  background-color: #FF7F50;
  height: 15px;
  border: 0;
  border-radius: 9px;
}

#info {
  width:100%;
}

.contactInfo {
  margin: 0 auto;
  width: 25%;
}

#title {
  font-family: sans-serif;
  text-align: center;
}

ul {
  background: #FF7F50;
  padding: 20px;
}

ul li {
  background: #DEB887;
  padding: 5px;
  margin-left: 35px;
  list-style-type: none;
}

.techTable {
  text-align: center;
  margin: 0 auto;
}

.technologies {
  text-align: center;
}

.sendBtn {
  border-radius: 10px;
  background-color: #FF7F50;
  color: white;
  padding: 12px 28px;
  margin-left: 90px;
}
